<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <title><%= page_title %></title>
    
    <%- include('inc/head'); %>
  </head>
  <body>

    <div class="clearfix title-bar">
      <div class="title-badge">
        <span style="font-size: small" class="code-inline">
          <!--<img src="img/_dtt-logo.png" width="29" />-->
          dtt
          | ben.sturley
          | svetoslav.nunev
        </span>
      </div>
      <h4 style="margin-top: 0px; margin-bottom: 0px;">
        <img src="img/dtt-logo_bb.png" width="60" />
        <%= page_title %>
      </h4>
    </div>

    <!-- Start Top Bar -->
    <div class="top-bar">
    </div>
    <!-- End Top Bar -->


    <div class="callout small primary">
      <div class="row column text-center">

      </div>
    </div>

    <div class="">
    <form method="POST" action="" enctype="multipart/form-data"> 
      <div class="grid-x grid-padding-x">
        <div class="large-8 small-8 cell">
          <label>Upload Debrief Chat Group Export File</label>
          <div class="callout"><input type="file" name="exportfile" /></div>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-4 small-4 cell">
          <label>Start Date</label>
          <input type="text" placeholder="dd/mm/yyyy" name="startdate" />
        </div>
        <div class="large-4 small-4 cell">
          <label>End Date</label>
          <input type="text" placeholder="dd/mm/yyyy" name="enddate" />
        </div>
        <div class="large-8 small-8 cell">
          <input type="submit" value="Submit Form" class="button" /> 
        </div>
      </div>
    </form>
      <hr />
    </div>

    <% if (report) { %>

    <div class="grid-container fluid">
      
      <div class="grid-x grid-padding-x">
        <div class="cell small-2">
          <small>EXPORT:</small>
        </div>
        <div class="cell auto">
          <code><%= report.exportFilename %></code>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell small-2">
          <small>DATES:</small>
        </div>
        <div class="cell auto">
          <code><%= report.filterDateFrom %> to <%= report.filterDateTo %></code>
        </div>
      </div>

      <!-- begin sep-bar -->
      <div class="grid-x grid-padding-x">
        <div class="cell auto sep-bar">&nbsp;</div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell auto sep">&nbsp;</div>
      </div>
      <!-- end sep-bar -->

      <div class="grid-x grid-padding-x">
        <div class="cell small-2">
            <small>PROCESSED:</small>
        </div>

        <div class="cell auto">
          
          <div class="grid-x grid-padding-x">
            <div class="cell auto">
              <code><strong><%= report.totalMiles %></strong> mile(s)</code>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="cell auto">
              <code>for <strong><%= report.rows.length %></strong> driver(s)</code>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="cell auto">
              <code>from <strong><%= report.totalBlocks %></strong> datablock(s) (posts)</code>
            </div>
          </div>

        </div>
      </div>

      <!-- begin sep-bar -->
      <div class="grid-x grid-padding-x">
        <div class="cell auto sep-bar">&nbsp;</div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell auto sep">&nbsp;</div>
      </div>
      <!-- end sep-bar -->

      <div class="grid-x grid-padding-x">
        
        <div class="cell small-1">
          <small>.</small>
        </div>
        <div class="cell small-4">
          <small>DRIVER</small>
        </div>
        <div class="cell small-3">
          <small>MILEAGE</small>
        </div>
        <div class="cell small-4">
          <small>(junk)</small>
        </div>

      </div>

      <!-- begin sep-bar -->
      <div class="grid-x grid-padding-x">
        <div class="cell auto sep-bar">&nbsp;</div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell auto sep">&nbsp;</div>
      </div>
      <!-- end sep-bar -->

      <!-- begin rows -->

      <% for (const row of report.rows) { %>
      <div class="grid-x grid-padding-x" style="margin-bottom: -10px">
        
        <div class="cell small-1 callout report-cell">
          <small><a name="row_<%= row.rowNumber %>"><%= row.rowNumber %></a></small>
        </div>
        <div class="cell small-4 callout report-cell">
          <strong><%= row.driver %></strong>
        </div>
        <div class="cell small-3 callout report-cell">
          <strong><%= row.mileageTotal %></strong> <small>miles</small>
        </div>
        <div class="cell small-4 callout report-cell">
          <% if (row.hasDetails()) { %>
           <% let row_count = 0; %>
            <ul>
            <% for (const dets of row.details) { %>
              <% row_count++; %>
            <li>
            <small><a 
              onclick="$('#rowdetail_<%= row.rowNumber %>_<%= row_count %>').toggle(700);"
              href="#row_<%= row.rowNumber %>"><%= dets.name %></a></small>

            <div style="display: none;" id="rowdetail_<%= row.rowNumber %>_<%= row_count %>">
            <% for (const data of dets.data) { %>

                <code><small><%= dets.renderer.render(data).replace('\n', '<br/>') %></small></code> <br/>

            <% } %>
            </div>
            </li>
            <% } %>

            </ul>
          <% } %>
        </div>

      </div>
      <% } %>

      <!-- end rows -->

      <!-- begin base -->
      <div class="grid-x grid-padding-x">
        
        <div class="cell auto text-right">
          
          <ul class="menu simple align-right">
            <li><a href="#">view raw output</a></li>
            <li>|</li>
            <li><a href="#">view log</a></li>
          </ul>

        </div>
      </div>

      <!-- begin sep-bar -->
      <div class="grid-x grid-padding-x">
        <div class="cell auto sep-bar">&nbsp;</div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell auto sep">&nbsp;</div>
      </div>
      <!-- end sep-bar -->
      
    </div>

    <% } %>


    <%- include('inc/footer'); %>
  </body>
</html>
